:root {
  --bg: #1D262D;
  --white: #F8F0E4;
  --blue: #311996;
  --pink: #E12179;
  --gradient: linear-gradient(0deg, #E12179 0%, #311996 100%);;
  --linkedin: #2867B2;
  --github: #6E5494;
  --codepen: #FFFFFF;
  --text-sz: 20px;
  --max-width: 1440px;
  --content-width: 1238px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
   background-color: var(--bg);
   color: var(--white);
   font-size: var(--text-sz);
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

p {
  line-height: 1.8;
}

img {
  display: block;
}

.subtitle {
  font-weight: 400;
  color: var(--pink);
}

.title {
  font-size: 32px;
  margin-bottom: 48px;
}

.btn {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--pink);
  border: 1px solid var(--pink);
  color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn--download {
  background-color: transparent;
  border-color: var(--white);
}

.block-bg {
  padding: 80px 98px;
  max-width: var(--max-width);
  background-image: var(--gradient);
  border-radius: 10px;
  margin-bottom: 68px;
}

.block-bg--thin {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 2rem;
}

.main-wrapper {
  margin: 0 auto;
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
  margin-bottom: 68px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
}

.page-header__inner {
  margin: 0 auto;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.theme-toggle {
  padding: 1rem 0;
  margin-right: 100px;
  cursor: pointer;
}

#toggle {
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

.theme-toggle:hover #toggle {
  width: 24px;
  height: 24px;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

.page-header-nav {
  width: 100%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.site-navigation__link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding: 1rem 0;
  position: relative;
}

.site-navigation__link::before{
  position: absolute;
  display: block;
  content: "";
  width: 0;
  right: 0;
  height: 3px;
  bottom: 5px;
  background-color: var(--pink);
  transition: width ease-in-out 0.25s;
}

.site-navigation__link:hover::before {
  width: 100%;
  left: 0;
  background-color: var(--pink);
  transition: width ease-in-out 0.25s;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 61px);
  margin-bottom: 68px;
}

.about-me__img-container {
  position: relative;
  margin-top: auto;
  margin-bottom: 2rem;
}

.about-me__img-container::before,
.about-me__img-container::after {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  z-index: -1;
}

.about-me__img-container::before {
  top: 0;
  left: 0;
  transform: translate(6px, 10px);
  background-color: var(--blue);
}

.about-me__img-container::after {
  top: 0;
  left: 0;
  transform: translate(-6px, -10px);
  background-color: var(--pink);
}

.about-me__img {
  display: block;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.text-highlighted {
  color: var(--pink);
}

.about-me__job {
  margin: 2rem auto;
  text-align: center;
  margin-bottom: 4vmax;
  font-weight: 700;
  font-size: 72px;
}

.about-me__buttons-wrapper {
  display: flex;
  margin-bottom: auto;
  gap: 2rem;
}

.contact-links__item {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: float 2s ease-in-out infinite alternate;
}

.contact-links__item.github {
  top: calc(50% - 20rem);
  right: 20rem;
  animation-delay: 0.5s;
}

.contact-links__item.linkedin {
  top: calc(50% - 8rem);
  left: 14rem;
}

.contact-links__item.codepen {
  top: calc(50% - 4rem);
  right: 10rem;
  animation-direction: alternate-reverse;
}

.contact-links__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid;
  border-radius: 50%;
}

.github .contact-links__link {
  border-radius: 50%;
  border-color: rgba(110, 84, 148, 0.35);
  transform: translateX(50%) translateY(-50%);
}

.linkedin .contact-links__link {
  border-radius: 50%;
  border-color: rgba(40, 103, 178, 0.35);
  transform: translateX(-50%) translateY(-50%);
}

.codepen .contact-links__link {
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.35);
  transform: translateX(50%) translateY(-50%);
}

.contact-links__link:hover {
  border-width: 40px;
}

.about-me__description {
  max-width: 940px;
}

.description__item {
  position: relative;
  margin-left: 12px;
}

.description__item::before,
.description__item::after {
  position: absolute;
  color: var(--pink);
}

.description__item::before {
  content: "<";
  margin-left: -12px;
}

.description__item::after {
  content: "/>";
}

.skills {
  margin-bottom: 68px;
}

.skills__list {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: center;
}

.skills__item {
  position: relative;
  margin-left: 12px;
  width: fit-content;
}

.skills__item::before,
.skills__item::after {
  position: absolute;
}

.skills__item::before {
  content: '<';
  top: 0;
  left: 0;
  font-family: "Ubuntu", sans-serif;
  color: var(--pink);
  transform: translateX(-100%);
}

.skills__item::after {
  content: '>';
  top: 0;
  right: 0;
  font-family: "Ubuntu", sans-serif;
  color: var(--pink);
  transform: translateX(100%);
}

.projects {
  margin-bottom: 68px;
}

.projects__item {
  width: 936px;
  background-color: var(--blue);
  margin: 0 auto;
  margin-bottom: 136px;
  max-width: 100%;
  border-radius: 10px;
}

.projects__item:last-child {
  margin-bottom: 0;
}

.projects__item:nth-child(odd) {
  transform: translateX(25px);
}

.projects__item:nth-child(even) {
  transform: translateX(-25px);
}

.projects__link {
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 480px;
}

.projects__img {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

.projects__link::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 0.45;
  z-index: 1;
}

.projects__content {
  position: absolute;
  max-width: 65%;
  bottom: 68px;
  left: 68px;
  z-index: 2;
}

.projects__title {
  color: var(--white);
  margin-bottom: 1rem;
}

.projects__desc {
  color: var(--white);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.section__year {
  font-size: 1.25rem;
  font-weight: 900;
  color: #0050ff;
}

.section__position, .section__degree {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.section__company {
  font-style: italic;
}

.experience {
  margin-bottom: 68px;
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: 136px;
}

.experience__job {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 68px;
  position: relative;
}

.experience__year {
  grid-column:  1 / 2;
  grid-row: 1 / 2;
}

.experience__company {
  grid-column:  1 / 2;
  grid-row: 2 / 3;
}

.experience__location {
  grid-column:  1 / 2;
  grid-row: 3 / 4;
}

.experience__title {
  grid-column: 2 / 3;
  grid: 1 / 2;
}

.experience__responsibilities {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.experience__job:not(:last-child)::before {
  position: absolute;
  content: "";
  background-color: var(--white);
  width: 100%;
  height: 1px;
  bottom: -68px;
}

.experience__year {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.experience__year::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 10px;
  background-color: var(--pink);
  bottom: 18px;
}

.experience__company {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.experience__location {
  font-family: "Poppins", sans-serif;
}

.experience__title {
  margin-bottom: 34px;
}

.experience__responsibility {
  line-height: 1.8;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 25px;
}

.experience__responsibility::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../svg/list-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 17px;
  top: 0;
  left: 0;
  transform: translateY(50%);
}

pre {
  width: 100%;
  padding-left: 0;
  white-space: normal;
  display: flex;
  justify-content: center;
}

pre code {
  white-space: pre-wrap;
}

pre code.hljs {
  background-color: var(--bg);
}


.contact-me__title {
  margin-bottom: 1rem;
}

.contact-me__text {
  margin-bottom: 2rem;
}

.form {
  padding: 4rem 2rem;
  margin: 0 auto;
  width: 100%;
}

.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.required {
  color: var(--white);
}

.form__group {
  margin-bottom: 1.5rem;
}

input, textarea {
  display: block;
  width: 100%;
  max-width: 100%;;
  height: 2.75rem;
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: transparent;
}

textarea {
  height: 5rem;
  width: 100%;
  max-width: 100%;;
  border: none;
  border-bottom: 2px solid var(--white);
}

input:hover, textarea:hover {
  border-bottom: 2px solid var(--white);
}

input:focus, textarea:focus {
  border-bottom: 2px solid var(--white);
}

.page-footer {
  background-color: var(--blue);
   width: 100%;
   min-height: 172px;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem; 
}

.contact-links__item--rss {
  position: relative;
}

.page-footer__copyright {
  font-size: 0.85rem;
}

.btn--to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99; 
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;
}

@keyframes float {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
  
}

@media (max-width: 700px) {
  .section {
    flex-direction: column;
  }

  .projects__section {
    width: 250px;
  }

  .column--thin {
      padding-bottom: 0;
  }
}

@media (max-width: 500px) {
  .main-wrapper {
    padding: 0 1rem;
  }

  section {
    padding: 0 1rem;
  }

  .list__items {
    padding: 2rem 1rem;
  }

  .column--left {
    padding: 2rem 1rem;
  }

  .column--thin {
    padding: 2rem 1rem;
    padding-bottom: 0;
  }

  .column--wide {
    padding: 2rem 1rem;
    max-width: 100%;
  }

  .form {
    padding: 2rem 1rem;
  }

  .section__title::before {
    width: 0.5rem;
    left: -1rem;
  }
}

@media (max-width: 300px) {
  .main-wrapper {
    padding: 0;
  }

  section {
    padding: 0;
  }
}

@media (hover: none) {
  .btn--to-top {
    display: none;
  }
}
